#bodybackground{
	background-color: #FDF5E6;
	color: black;
	font-family: 'Baloo Chettan 2', cursive;
	
}

.btn-light{
	color: black;
	background-color: #c99f9f;
	font-family: 'Baloo Chettan 2', cursive;
}

